@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply min-h-screen font-sans antialiased;
  background-color: #fdfdf8;
  color: #2c3e37;
}

#root {
  @apply min-h-screen;
}

